@model Capstone.Models.TripItem

@{
    ViewData["Title"] = "Create";
}

<h1>Add to Trip</h1>

<h4>Which trip would you like to add @ViewBag.Zoo.Name to?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TripId" class="control-label">Choose a Trip</label>
                <select asp-for="TripId" class ="form-control" asp-items="ViewBag.TripId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-outline-info" />
                <a class="btn btn-outline-info" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
